/* Global styles */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

body {
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
    border: none;
}

/* Presets */
:root {
    --charcoal: #333;
    --raisin: #534;
    --faded-raisin: #5342;
    --plum: #636;
    --rose: #C25;
    --orange: #E62;
    --gold: #EA0;
    --lemon: #ED0;
    --peach: #FDB;
    --lace: #FFF4E8;
    --blueberry: #359;
    --lime: #4A2;
    --mint: #CFD;

    --roundness: .5rem;
}

/* Fonts */
body {
    font-family: "din-2014-rounded-variable", sans-serif;
    font-variation-settings: "wght" 400;
    color: var(--raisin);
}

/* Toolbar */
button {
    width: 2rem;
    height: 2rem;
    border-radius: var(--roundness);

    color: var(--raisin);
    background: var(--lace);
    box-shadow: 0 0 0 0.25rem transparent;

    cursor: pointer;
    font-size: 0;
    transition: box-shadow 0.2s, background 0.2s;
}

button:first-letter {
    font-size: 1.5rem;
    line-height: 2rem;
    font-variation-settings: "wght" 600;
}

button:hover {
    background: var(--peach);
    box-shadow: 0 1px 0.25rem 0 color-mix(in srgb, var(--raisin) 10%, transparent);
}

menu {
    position: fixed;
    left: 0;
    height: 100vh;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

menu li {
    list-style: none;
}

main {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr 20rem;
}

/* Canvas */
.canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.canvas-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#canvas {
    pointer-events: auto;
    z-index: 0;
}

#canvas {
    cursor: grab;
}

#overlay ~ #canvas:active {
    cursor: grabbing;
}

#canvas > * {
    cursor: pointer;
}

/* Change to pointer when clicking on canvas would deselect elements */
#overlay:has(> *) ~ #canvas {
    cursor: pointer;
}

#overlay {
    z-index: 1;
}

#overlay {
    filter: url(#better-highlight);
}

#ui {
    z-index: 2;
}

#ui > *, #ui.active {
    pointer-events: auto;
    cursor: pointer;
}

/* Properties */
#properties {
    max-height: 100%;
    overflow-y: scroll;
    margin: 1rem;
    padding: 1rem;
    background: var(--lace);
    color: var(--raisin);
    border-radius: var(--roundness);
    border: 2px solid var(--raisin);
    box-shadow: .5px .5px 0 .5px var(--raisin);
}

.prop-group {
    padding: .5rem;
    margin: .5rem;
    border: 2px solid var(--faded-raisin);
    border-radius: var(--roundness);
}

.prop {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.prop h4 {
    flex-basis: 100%;
    text-align: center;
    line-height: 1;
    margin-top: .5rem;
}

.prop.vector label {
    margin-right: 0 !important;
}

.prop.vector input + label {
    margin-left: .75rem;
}

.prop input[type="number"] {
    width: 1rem;
    flex-grow: 10;
}

.prop input {
    margin: .25rem 0;
    padding: .125rem;
    text-align: center;
    max-width: 6rem;
    border: 1px solid var(--raisin);
    box-shadow: .5px .5px 0 .5px var(--raisin);
    border-radius: calc( var(--roundness) / 2 );
}

#properties label {
    font-weight: bold;
    font-size: 1em;
    margin-right: .25rem;
    flex-grow: 1;
}

#properties.hidden .prop-group, #properties .hidden {
    display: none;
}

/* Hide disabled optional properties */
#properties .prop.optional input[type="checkbox"]:not(:checked) + input {
    display: none;
}

/* Footer */
/* Animation */
@keyframes toast {
    0% {
        transform: translateY(100%);
    }
    10%, 90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}
footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: .25rem;
    background: var(--lace);
    color: var(--raisin);
    border-top-right-radius: .25rem;
    animation: toast 5s;
    animation-delay: 2s;
    transform: translateY(100%);
}